LICENSE_API_BASE_URL=https://api.rest.wwsoftwares.com.br/api/v1
LICENSE_API_TOKEN=
LICENSE_API_RESOLVE_ACTIVATION_ENDPOINT=/licensing/activation/resolve
LICENSE_API_COMPANY_STATUS_ENDPOINT=81b3767f-7bc5-4275-9453-a6a921010a17/86d7b2bee439957e040b72be6fea5fc2/cliente/{document}
LICENSE_API_REGISTER_COMPANY_ENDPOINT=81b3767f-7bc5-4275-9453-a6a921010a17/86d7b2bee439957e040b72be6fea5fc2/clientes
LICENSE_API_REGISTER_DEVICE_ENDPOINT=81b3767f-7bc5-4275-9453-a6a921010a17/86d7b2bee439957e040b72be6fea5fc2/maquinas
LICENSE_API_UPDATE_DEVICE_ENDPOINT=81b3767f-7bc5-4275-9453-a6a921010a17/86d7b2bee439957e040b72be6fea5fc2/maquinas/IDMAQUINA/{id}
LICENSE_PREFER_RESOLVE_ACTIVATION=true
LICENSE_ALLOW_LEGACY_FALLBACK=true
LICENSE_REGISTRATION_FILE_ENABLED=true
LICENSE_REGISTRATION_FILE_NAMES=wwreg.json,wwreg.lic
