{
  email {$TUNNARA_ACME_EMAIL}
  acme_ca {$TUNNARA_ACME_CA:https://acme-v02.api.letsencrypt.org/directory}
  servers { protocols h1 h2 h3 }
}

control.{$TUNNARA_BASE_DOMAIN} {
  tls { dns cloudflare {$CLOUDFLARE_API_TOKEN} }
  reverse_proxy control:7100
}

console.{$TUNNARA_BASE_DOMAIN} {
  tls { dns cloudflare {$CLOUDFLARE_API_TOKEN} }
  reverse_proxy console:80
}

{$TUNNARA_BASE_DOMAIN}, *.{$TUNNARA_BASE_DOMAIN} {
  tls { dns cloudflare {$CLOUDFLARE_API_TOKEN} }
  reverse_proxy edge-a:7200 edge-b:7200 {
    lb_policy least_conn
    health_uri /healthz
    health_interval 10s
  }
}
