COMPOSE_PROJECT_NAME=tunnara-local
TUNNARA_VERSION=2.0.0-rc.3
TUNNARA_PULL_POLICY=missing
TUNNARA_STORAGE_DRIVER=sqlite
TUNNARA_BOOTSTRAP_ADMIN_TOKEN=tnr_admin_change_me
TUNNARA_MASTER_KEY_BASE64=change_me_32_bytes_base64
TUNNARA_CLUSTER_TOKEN=change_me_cluster_token
TUNNARA_BOOTSTRAP_ORGANIZATION=Tunnara Local
CONTROL_BIND=127.0.0.1
CONTROL_PORT=7100
EDGE_BIND=0.0.0.0
EDGE_PORT=8080
RELAY_BIND=0.0.0.0
RELAY_PORT=7300
CONSOLE_BIND=0.0.0.0
CONSOLE_PORT=7400
PUBLIC_BIND=0.0.0.0
PUBLIC_PORT_MIN=20000
PUBLIC_PORT_MAX=20100
TUNNARA_BASE_DOMAIN=tunnara.local
TUNNARA_PUBLIC_SCHEME=http
TUNNARA_PUBLIC_CONTROL_URL=http://127.0.0.1:7100
TUNNARA_PUBLIC_RELAY_URL=tcp://127.0.0.1:7300
TUNNARA_CORS_ORIGIN=http://localhost:7400
TUNNARA_LOG_FORMAT=json
