COMPOSE_PROJECT_NAME=tunnara
TUNNARA_VERSION=2.0.0-rc.3
TUNNARA_PULL_POLICY=missing
TUNNARA_STORAGE_DRIVER=sqlite
TUNNARA_BOOTSTRAP_ADMIN_TOKEN=tnr_admin_change_me
TUNNARA_MASTER_KEY_BASE64=change_me_32_bytes_base64
TUNNARA_CLUSTER_TOKEN=change_me_cluster_token
TUNNARA_BOOTSTRAP_ORGANIZATION=Tunnara Community

TUNNARA_BASE_DOMAIN=tunnel.seudominio.com.br
TUNNARA_PUBLIC_SCHEME=https
TUNNARA_PUBLIC_CONTROL_URL=https://control.tunnel.seudominio.com.br
TUNNARA_PUBLIC_RELAY_URL=quic://relay.tunnel.seudominio.com.br:7443
TUNNARA_CORS_ORIGIN=https://console.tunnel.seudominio.com.br
TUNNARA_LOG_FORMAT=json
TUNNARA_AUTO_DNS=true

CLOUDFLARE_ZONE_NAME=seudominio.com.br
CLOUDFLARE_API_TOKEN=change_me
TUNNARA_ACME_EMAIL=admin@seudominio.com.br
TUNNARA_ACME_CA=https://acme-v02.api.letsencrypt.org/directory
TUNNARA_CLOUDFLARE_EDGE_ADDRESS=203.0.113.10
TUNNARA_QUIC_PUBLIC_HOST=relay.tunnel.seudominio.com.br
TUNNARA_QUIC_PORT=7443
TUNNARA_QUIC_CERT_WAIT_SECONDS=300
TUNNARA_QUIC_LOG=info

CONTROL_BIND=127.0.0.1
CONTROL_PORT=7100
RELAY_BIND=0.0.0.0
RELAY_PORT=7300
PUBLIC_BIND=0.0.0.0
PUBLIC_PORT_MIN=20000
PUBLIC_PORT_MAX=20100
